body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.start {
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

#optionA {
    background-color: aqua;
}

#optionB {
    background-color: #2196F3;
}

#optionC {
    background-color: #FF9800;
}

#optionD {
    background-color: #f44336;
}

#startBtn {
    background-color: #4CAF50;
}

#score {
    margin-top: 20px;
    font-size: 20px;
}

#nextBtn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
}

.custom-alert {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    text-align: center;
    z-index: 1000;
}

.custom-alert button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}